<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">

            <a class="nav-link active" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">
              <i class="fa fa-users" aria-hidden="true"></i>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/group/add']" routerLinkActive="router-link-active">
              <i class="fa fa-address-card-o" aria-hidden="true"></i>
              Your Projects
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/projects/all']" routerLinkActive="router-link-active">
              <i class="fa fa-address-book-o" aria-hidden="true"></i>
              All Projects
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/companies']" routerLinkActive="router-link-active">
              <i class="fa fa-building-o" aria-hidden="true"></i>
              Customers
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social Engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>