<div>
<form [formGroup]="companyForm" #addProject="ngForm" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Add a new client</h1>
  <div>
      <input type="text" class="form-control mb-4"
      [ngClass]="{'is-invalid': companyForm.get('companyName').errors && companyForm.get('companyName').touched}"
      name="companyName"
      formControlName="companyName"
      placeholder="Company Name">
  <div class="invalid-feedback">The company is mandatory.</div>

  </div>
  <div>
      <input type="text"
        class="form-control  mb-4"
      name="przedstawicielImie"
        formControlName="przedstawicielImie"
        placeholder="Name of the representative (optional)">

  </div>
  <div>
    <input type="text"
      class="form-control mb-4"
      name="przedstawicielNazwisko"
      formControlName="przedstawicielNazwisko"
      placeholder="Name of the representative Surname (optional)">

</div>
  <div>
        <input type="text"
          class="form-control mb-4"
         [ngClass]="{'is-invalid': companyForm.get('miasto').errors && companyForm.get('miasto').touched}"
          placeholder="City"
          name="miasto"
          formControlName="miasto">
  <div class="invalid-feedback">The city is obligatory.</div>

    </div>
    <div>
        <input type="text"
          class="form-control mb-4"
          name="ulica"
          placeholder="Street"
          formControlName="ulica">
  <div class="invalid-feedback">Street is a must.</div>

    </div>
  <div>
      <input type="text"
        class="form-control mb-4"
        [ngClass]="{'is-invalid': companyForm.get('phoneNumber').errors && companyForm.get('phoneNumber').touched}"
        name="phoneNumber"
        formControlName="phoneNumber"
        placeholder="Mobile Number">
  <div class="invalid-feedback">A mobile number is mandatory.</div>

  </div>
  <div class="btn-group mt-4" role="group">
    <button [disabled]="!companyForm.valid" class="btn btn-lg btn-secondary" type="submit">Further</button>
    <button class="btn btn-lg btn-secondary">Come Back</button>
  </div>
</form>
</div>