<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{user?.gender=='kobieta'? femaleUrl : maleUrl}}" alt="" class="card-img-top img-thumbnail">
        <div class="card-body text-center">
          <div>
            <h3>{{user?.name}} {{user?.surname}}</h3>
          </div>
          <div>
            <strong>Date of Birth:</strong>
            <p>{{user?.dateOfBirth | date}}</p>
          </div>
          <div>
              <strong>Recently active</strong>
              <p>{{user?.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Project</strong>
            <p>{{user?.projects}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
        <div class="tab-panel">
          <tabset class="user-tabset">
            <tab heading="Projekty">

            </tab>
            <tab heading="Grupy">
              
            </tab>
            <tab heading="Role">
              
              </tab>
          </tabset>
        </div>
      </div>
  </div>
</div>